<app-nav-bar-accueil></app-nav-bar-accueil>

<div class="container">

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Rambla M.</mat-card-title>
    <mat-card-subtitle>Developpeur FullStack</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
  <mat-card-content>
    <p>

    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>J. Domingo</mat-card-title>
    <mat-card-subtitle>Developpeur FullStack</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
  <mat-card-content>
    <p>

    </p>
  </mat-card-content>
</mat-card><mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>L. Renard</mat-card-title>
    <mat-card-subtitle>Developpeur FullStack</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
  <mat-card-content>
    <p>

    </p>
  </mat-card-content>
</mat-card><mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>F. René-Corail</mat-card-title>
    <mat-card-subtitle>Developpeur FullStack</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  <mat-card-content>
    <p>

    </p>
  </mat-card-content>
</mat-card>

</div>
